body {
	font-family: Times New Roman;
	font-size: 14px;
	background-color: lightgrey;
}

h1 {
	text-align: center;
	font-family: helvetica;
	color: mediumblue;
	font-size: 36px;
}

div {
	font-family: Times New Roman;
	font-size: 14px;
	text-align: center;
}

a {
	text-decoration: none;
	color: darkblue;
}

h3 {
	font-family: helvetica; 
	color: #444; 
	font-size: 18px;
	text-transform: uppercase;
}

span {
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
}

li {
	font-family: times new roman;
	font-size: 14px;
}

table {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	width: 300px;
	font-family: times new roman;
	font-size: 14px;
}

th {
	border: 1px solid black;
	font-family: helvetica;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 300px;
}