/* Carousel */

.mainslidecontainer {
	width: 400px;
	border: 1px solid black;
}

.slideheader {
	padding: 10px 0px 10px 10px;
	font-family: helvetica;
	font-size: 24px;
}

.slider {
  position: relative;
  width: 400px;
  height: 350px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;


}

.active-slide {
    display: block;
}

.caption {
	font-family: helvetica;
	font-size: 16px;
	padding: 10px;
}

.slide img {
	max-width: 400px;
	width: 100%;
}
.slider-nav {
	position: relative;
	z-index: 1;
	text-align: center;
}



.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

