/* ORIGINAL STYLES FROM DAY ONE */
body {
  padding-top: 50px;
}

.topsection {
  text-align: center;
  margin-top: 20px;

}

.topsection h1 {
	font-size: 60px;
	text-transform: uppercase;
	/*max-width: 600px;
	margin: 0px auto 20px auto;*/
}

.byline {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #777;
	margin-bottom: 20px;
	margin-top: 15px;
}

.graphiccontainer {
	margin-bottom: 20px;
	padding: 20px;
}

.textblock {

	margin-right: 20px;
	padding: 0px 20px 0px 20px;
}

.graphictitle {

}

.graphictitle h2 {
	margin: 0px;
	padding: 0px;
}

.graphictext {
	margin-top: 15px;
}

.graphicblock {
	padding: 0px 20px 0px 20px;
	border-left: 2px solid #777777;

}

.graphicblock p {
	max-width: 600px;
}


@media (max-width: 768px) {
	.textblock {
		margin-right: 0px;
		padding: 20px;
	}

	.graphicblock {
		border-left: 0px;
		border-top: 0px;
		border-bottom: 2px solid #777777;
		padding: 20px;
	}

	.topsection {
		padding: 20px;
	}

	.topsection h1 {
	font-size: 40px;

	}	

}

/*New Styles from Day Two*/

.stadiumsmap, .worldmap, .germanytimeline, #passeschart {
	max-width: 600px;
	font-family: helvetica;
}

.worldmap, .germanytimeline {
	border: 2px inset;
}

.legendbox {
	width: 200px;
	height: 200px;
	border: 1px solid #aaa;
	z-index: 1;
	position: absolute;
	bottom: 10px;
	left: 20px;
	background-color: #eee;
}

.legendbox h4 {
	padding-left: 10px;
}

.legendentry {
	padding-left: 10px;
	font-size: 12px;
	border: 1px solid #ccc;
	margin: 0px 10px 2px 10px;
}

.champions {
	background-color: #000000;
	color: #eee;

}

.finals {
	background-color: #AD866A;
	color: #eee;
}

.semifinals {
	background-color: #a8201a;
}


.quarterfinals {
	background-color: #ec9a29;
}

.round16 {
	background-color: #0f8b8d;
}

.round32 {
	background-color: #dad2d8;
}

.roundnotinwc {
	background-color: #ffffff;
}


