/*THIS IS THE BEGINNING OF THE CSS RESET.  IT'S USED TO WIPE THE SLATE CLEAN, SO WE CAN TELL BROWSERS EXACTLY WHAT WE WANT THEM TO DO. NOTE THAT WE'VE INCLUDED CREDIT TO THE DUDE WHO WROTE THIS CODE AND RELEASED IT FREE. IT'S GENERALLY FINE TO USE OTHER PEOPLE'S CODE, JUST ATTRIBUTE IT TO THEM!!!!*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  border: 1px dashed blue;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*THIS IS THE END OF THE CSS RESET.  IT'S USED TO WIPE THE SLATE CLEAN, SO WE CAN TELL BROWSERS EXACTLY WHAT WE WANT THEM TO DO*/

body {
	font-family: Times New Roman;
	font-size: 14px;
	background-color: lightgrey;
}

#headcontainer {
	margin: 0px 0px 0px 0px;
	padding-bottom: 10px;
	background-color: #666;
} /*This is an example of an ID. It starts with a #. There's only one head container on the page, so it's fine to use an ID*/

#name {
	text-align: center;
	font-family: 'Oswald'; /*This isn't a normal font: I got it from here https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Oswald:400,700*/
	color: #0000CD;
	font-size: 36px;
	padding: 20px 0px 0px 0px;
	margin-bottom: 10px;
} /*Look at padding and margin. Note that with padding The first value is for top, second for right, third for bottom, fourth for left. With Margin, I've chosen to just target the top and bottom values separately, but I could do it the same way as with padding, four values going clockwise.*/ 

#contact {
	font-family: Times New Roman;
	font-size: 14px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	background: #fff;
	width: 400px;
	margin: 10px auto;
}

#contact a {
	font-size: 14px;
	color: #0000CD;
	font-weight: bold;
} /*Notice how I've only targeted links (a tags) within the Div with the ID contact.  This doesn't affect links outside of it.  */

#contact .phone {
	font-weight: bold;
}	

.social {
	font-weight: bold;
} 

.email {
	color: #0000CD;
	font-family: Times New Roman;
}

#bodycontainer {
	padding: 20px;
}

.section {
	margin: 10px 0px 10px 0px;	
	background: #fff;
	padding: 20px;
}

.sectionheader {
	font-family: helvetica; 
	color: #444; 
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.jobtitle {
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 2px;
}

.organization {
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
}

.details {

}

.details ul li {
	font-family: Times New Roman;
	font-size: 14px;
	list-style-type: square;
 	list-style-position: inside;
}


a {
	text-decoration: none;
	color: #0000CD;
}

table {
	border: 1px solid black;
	margin-top: 20px;
}

td {
	border: 1px solid black;
	width: 300px;
	font-family: times new roman;
	font-size: 14px;
	padding: 3px;
}

th {
	border: 1px solid black;
	font-family: helvetica;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 300px;
	padding: 3px;
}

/*EVERYTHING BELOW THIS IS NEW ON DAY FOUR*/

#right {
	width: 70%;
	float: right;
}
/*#right is a container that goes around all of the content on my resume like jobs and such.  It takes up 70 percent of the screen.  I've floated it right, so it goes to the right. */

#left {
	width: 28%;
	float: left;
}

/*#left is a container that contains my picture and facts about me.  I've floated it left, so it goes to the left. Notice that 70 plus 28 is less than 100.  I've left a few percentage points out to account for margin and padding. */

img {
	width: 90%;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px #171918;
	position: relative;
	left: 0px;
} /*Notice how the image has shadow around it */

.sidebardetails {
	margin-top: 10px;
}

.sidebardetails ul li {
	font-family: helvetica;
	font-size: 16px;
	list-style-type: circle;
 	list-style-position: inside;
 	margin-bottom: 5px;
}

#footer {
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-family: helvetica;
	background-color: #fff;
	display: block;	
	clear: both;

}

/*This section is for media queries, or the responsive features of the site.*/  
/*We use media queries to change how the site looks depending on the width of the browser window. */
/*They're most commonly used to change how sites look on phones and tablets, which have smaller space */
/*We NEVER build websites without thinking about mobile, because mobile will soon be more popular than desktops*/
/*"Mobile or it Didn't Happen"*/

/*There are many different ways to write media queries, but this is the most common one.*/
/*We're essentially creating a new section of the stylesheet and telling it to apply these styles when the browser window is that size */
/*The first media query below says that when a browser window is SMALLER than 700px, do the following: hide the picture, get rid of the two columns, and put the About Sean section above the rest of the resume and stretch it all the way across the screen. It also puts some space around the contact bar and makes the big Name header slightly smaller.*/



@media (max-width: 700px) {
  	img {
		display: none;
  	}
  	
  	#right {
  		width: 100%;
  		float: none;
  	}
  	
  	#left {
  		width: 100%;
  		float: none;
  	}
  	
  	.mobilehide {
  		display: none;
  	}
  	
  	#contact {
  		width: 70%;
  	}
  	
  	#name {
  		font-size: 28px;
  	} /*This bracket closes #name*/
  
  } /*This bracket closes the entire media query above.  Notice how it's just a bunch of style nested inside the media query. It's like a separate stylesheet*/


  
  
/*This is another way to write a media query.  This time, we're telling the browser to make the name even bigger only when the browser window is LARGER than 1000px.*/

 
 
@media (min-width: 1000px) {
	#name {
		font-size: 56px;
	}
} 

/*This is another way to write a media query.  This time, we're telling the browser to make the section headers green when the browser window is BETWEEN 800px and 1100px. If it's smaller than 800px or larger than 1100px it won't apply*/


@media (min-width: 800px) and (max-width: 1100px) {
	.sectionheader {
		color: green;
	}
}

